<div class="modal-header">
    <h4 class="modal-title">
        Fehler!
    </h4>
</div>
<div class="modal-body">
    <p>Leider ist ein Fehler aufgetreten. Die Fehlerbeschreibung sehen Sie weiter unten.</p>
    <p>Die Administration wird automatisch über diesen Fehler benachrichtigt.</p>
    {% if exception is defined %}
        <div class="alert alert-warning">
            <p>{{ exception.message }}</p>
        </div>
    {% endif %}
    <p><a class="btn btn-default" href="javascript:return false;" data-dismiss="modal"><i class="fa fa-check"></i> Schliessen</a></p>
</div>
